 <form method = 'post' action='/tarjetasJsonAgregadas'> 
	       			
			<label>Json:</label> 
	       <input name = 'json' id="json" required />
	       
	       <input type='submit' value= 'Registrar tarjetas' /> </br>
	      </form>