<html> 
 <head>
	<style> 
	body{
		background-color:#008080
		 }
	  input[type=number], select { 
	  	width: 100%; 
	  	padding: 12px 20px; 
	  	margin: 8px 0; 
		display: inline-block; 
		border: 1px solid #ccc; 
		border-radius: 4px; 
		box-sizing: border-box;} 
	  
	  input[type=text], select { 
		width: 100%; 
		padding: 12px 20px; 
		margin: 8px 0; 
		display: inline-block; 
		border: 1px solid #ccc; 
		border-radius: 4px; 
		box-sizing: border-box;} 
	  input[type=submit]{ 
		width: 100%; 
		background-color: #4CAF50; 
		color: white; 
		padding: 14px 20px; 
		margin: 8px 0; 
		border: none; 
		border-radius: 4px; 
		cursor: pointer;} 
	  input[type=submit]:hover{ 
		background-color: #45a049;} 
	  div{ 
	    margin-right: auto; 
		margin-left: auto;
		border-radius: 5px; 
		background-color: #f2f2f2; 
		padding: 20px; 
		width: 50%;} 
	</style>
	<title>Registro de empleado a sueldo fijo</title>
</head> 
<body> 
	<div> 
		<form method='post' action='/registrarEmpleadoPorHoras'>  
			<label>Nombre:</label> 
			<input type='text' name='nombre_empleado' required> 
			</br> 
			</br> 
			<label>CI:</label> 
			<input type='number' name='ci' required> 
			</br> 
			</br> 
			<label>Direccion:</label> 
			<input type='text' name='direccion_empleado' required> 
			</br>
				   </br>
				   <label>Salario por hora:</label> 
				   <input type='number' name='amount'required> 
				   </br>
				   </br> 
				   <input type='submit' value='Registrarse' required> 
				  </form> 
				    
				   </div> 
				   </body> 
				   </html> 