<html>
	<head>
		<style>
		body{
		 
			background-color:#008080
		 }
		table, td, th {
    		border: 1px solid black;
		}

		table {
    		border-collapse: collapse;
    		width: 100%;
		}
		
		th {
		    height: 50px;
		}
		input[type=submit]{ 
		      width: 25%; 
		      background-color: #B0A967; 
		      color: white; 
		      padding: 14px 20px; 
		      margin: 8px 0; 
		      border: none; 
		      border-radius: 4px; 
		      cursor: pointer;} 
		input[type=submit]:hover{
		    background-color: #A4960D;}
		div{
		margin-right: auto; 
		margin-left: auto;
	    border-radius: 5px;
	    background-color: #f2f2f2;
	    padding: 20px;
	       width: 50%;}
	    </style>
	  <title>Empleados registrados</title>
	  </head>
		 <body>
		  <div>
    <h1>Lista de empleados</h1>
    <hr class="intro-divider">
    <table class="table">
    	<thead>
    	 <th>CI</th>
    	 <th>Nombre</th>
    	 <th>Direccion</th>
    	 <th>Detalle</th>
    	</thead>
    	<tbody>
        	#foreach ($employee in $employees)
        	<tr>
			    <td>$employee.getEmployeeId().toString()</td>
			    <td>$employee.getName().toString()</td>
			    <td>$employee.getAddress().toString()</td> 	
			    <td><a href="/ver_empleado/$employee.getEmployeeId().toString()"> Ver detalle</a></td> 			
			</tr>    
			#end
		</tbody>
		</table>
     	<form action='/registrar_Nuevo_Empleado'> 
	       <input type='submit' value=' Atras' /> 
	      </form>
     	</div>
		 </body>
		 </html>