<html>
	<head>
		<style>
			body{
			 
				background-color:#008080
			 }
			table, td, th {
	    		border: 1px solid black;
			}
	
			table {
	    		border-collapse: collapse;
	    		width: 100%;
			}
			
			th {
			    height: 50px;
			}
			input[type=submit]{ 
		      width: 15%; 
		      background-color: #33C5F8; 
		      color: white; 
		      padding: 5px 11px; 
		      margin: 8px 0; 
		      border: none; 
		      border-radius: 2px; 
		      cursor: pointer;} 
		input[type=submit]:hover{
		    background-color: #33C5F8;}
			div{
			margin-right: auto; 
			margin-left: auto;
		    border-radius: 5px;
		    background-color: #f2f2f2;
		    padding: 20px;
		       width: 50%;}
	    </style>
	  	<title>Empleados registrados</title>
	 </head>
	 <body>
		<div>
			<h1>Detalle de empleado</h1>
	    	 <p>
	    	 <b>CI :</b> $employee.getEmployeeId().toString() </br>
	    	 <b>Nombre :</b> $employee.getName().toString()</br>
	    	 <b>Direccion :</b> $employee.getAddress().toString()</br>
	    	 </p>
     	<form action='/ver_lista_empleados'> 
	       <input type='submit' value=' Atras' /> 
	      </form>
     	</div>
		 </body>
		 </html> 