<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
		<style>
		body{
		 
			background-color:#008080;
			margin: 20px;
		 }
		
		input[type=submit]{ 
		      width: 15%; 
		      background-color: #33C5F8; 
		      color: white; 
		      padding: 5px 11px; 
		      margin: 8px 0; 
		      border: none; 
		      border-radius: 2px; 
		      cursor: pointer;} 
		input[type=submit]:hover{
		    background-color: #33C5F8;}
		div{
			margin-right: auto; 
			margin-left: auto;
		    border-radius: 5px;
		    background-color: #f2f2f2;
		    padding: 20px;
		    width: 50%;}
	    </style>
	  	<title>Empleado</title>
	 </head>
	 <body>
		<div>
			<h1>Detalle de empleado</h1>
	    	 <p>
	    	 <b>CI :</b> $employee.getEmployeeId().toString() </br>
	    	 <b>Nombre :</b> $employee.getName().toString()</br>
	    	 <b>Direccion :</b> $employee.getAddress().toString()</br>
	    	 </p>
	   #foreach ($paycheck in $paychecks)
	    
	   <table 	class="table table-striped">
    	<thead>
    	 <th>Pago Bruto</th>
    	 <th>Deducciones</th>
    	 <th>Pago neto</th>
    	 <th>Fecha de Pago</th>
    	</thead>
    	<tbody
        	<tr>
			    <td> $paycheck.getGrossPay().toString()</td>
			    <td> $paycheck.getDeductions().toString()</td>
			    <td> $paycheck.getNetPay().toString()</td> 	
			    <td> $paycheck.returnPayDate()</td>		
			</tr>    
			
		</tbody>
		</table>
		
	   #end
     	<form action='/ver_lista_empleados'> 
	       <input type='submit' value=' Atras' /> 
	      </form>
     	</div>
		 </body>
		 </html> 