 <html>
 <head> 
	<style> 
	  input[type=number], select { 
	  	width: 100%; 
	  	padding: 12px 20px; 
	  	margin: 8px 0; 
		display: inline-block; 
		border: 1px solid #ccc; 
		border-radius: 4px; 
		box-sizing: border-box;} 
	  
	  input[type=text], select { 
		width: 100%; 
		padding: 12px 20px; 
		margin: 8px 0; 
		display: inline-block; 
		border: 1px solid #ccc; 
				      border-radius: 4px; 
					      box-sizing: border-box;} 
					  input[type=submit]{ 
					      width: 100%; 
					      background-color: #4CAF50; 
					      color: white; 
					      padding: 14px 20px; 
					      margin: 8px 0; 
					      border: none; 
					      border-radius: 4px; 
					      cursor: pointer;} 
					  input[type=submit]:hover{ 
					      background-color: #45a049;} 
					  div{ 
					  	  	margin-right: auto; 
					  	  	margin-left: auto;
					      	border-radius: 5px; 
					      	background-color: #f2f2f2; 
					      	padding: 20px; 
					        width: 50%;} 
					  body{
					  		background-color:#008080
					  }
					  img {
						    display: block;
						    margin: auto;
						}
				  </style> 
				  <title>Inicio</title>
				 </head>
				   <body> 
				   <div> 
				   		<img src="http://www.uninorte.edu.co/documents/10174/4864976/poliza.png" alt="Paris" width="400" height="300">
				   		<form action='/newEmployee'> 
			       			<input type='submit' value='Crear empleado nuevo' /> 
			      		</form>  
			      		<form action='/ver_lista_empleados'> 
			       			<input type='submit' value='Ver Empleados' /> 
			      		</form> 
			      		<form action='/generar_papeletas'> 
			       			<input type='submit' value='Generear Pagos' /> 
			      		</form>  
			      		<form action='/addHours'> 
			       			<input type='submit' value='Agregar horas trabajadas a empleados' /> 
			      		</form>  
			      		<form action='/addHours'> 
			       			<input type='submit' value='Agregar ventas a empleados  ' /> 
			      		</form> 
				   </div> 
				   </body> 
				   </html> 